body {
    width: 100%;
    height: 100%;
}

.cannon {
    position: absolute;
    z-index: 1;
    left: 8%;
    top: 51%;
    width: auto;
    height: 49%;
}

.letter {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    position: absolute;
}