@font-face {
    font-family: "Anonymous Pro";
    src: url("font/AnonymousPro-Regular.ttf");
}

body {
    font-family: "Anonymous Pro";
    /* font-weight: bold; */
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

p {
    @media (max-width: 1080px) {
        font-size: medium;
    }
    @media (min-width: 1081px) {
        font-size: x-large;
    }
}

nav {
    background-color: rgb(231, 231, 231);
    justify-content: center;
    display: flex;
    flex-direction: row;
    @media (max-width: 1080px) {
        font-size: large;
    }
    @media (min-width: 1081px) {
        font-size: xx-large;
    }
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    height: 10%;
    @media (max-width: 1080px) {
        width: 100%;
    }
    @media (min-width: 1081px) {
        width: 90%;
    }
    max-width: 1150px;
}

nav .homeText {
    @media (min-width: 1081px) {
        margin-right: 42%;
    }
}

nav a {
    text-decoration: none;
    transition: color 0.25s;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    @media (max-width: 1080px) {
        margin-left: 2%;
        margin-right: 2%;
    }
    @media (min-width: 1081px) {
        margin-left: 3%;
        margin-right: 3%;
    }
    border-radius: 8px;
}

nav a:hover {
    color: rgb(126, 183, 213);
}

.postList {
    display: flex;
    flex-direction: column;
    /* Center it based on page width */
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    max-width: 1150px;
    padding: 2%;
}

.postList .row {
    display: flex;
    flex-direction: row;
}

.row .thumbnail {
    @media (max-width: 1080px) {
        width: 70%;
    }
    @media (min-width: 1081px) {
        width: 60%;
    }
    padding: 2%;
}

/* Center the body in thumbnails */
.row .thumbnail a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Used to retain alignment
on rows without three posts */
.thumbnail .blank {
    background-color: white;
    color: white;
}

.thumbnail .body {
    background-color: rgba(221, 224, 224, 0.785);
    transition: background-color 0.25s;
    border-radius: 8px;
    @media (max-width: 1080px) {
        font-size: medium;
    }
    @media (min-width: 1081px) {
        font-size: x-large;
    }
    text-align: left;
    @media (max-width: 1080px) {
        padding: 10%;
    }
    @media (min-width: 1081px) {
        padding: 3%;
    }
}

.thumbnail .body:hover {
    background-color: rgb(199, 199, 199);
}

.thumbnail .body:focus,
.thumbnail .body:active {
    transition: none;
}

.thumbnail .publishDate {
    font-style: italic;
    @media (max-width: 1080px) {
        font-size: medium;
    }
    @media (min-width: 1081px) {
        font-size: large;
    }
}

.thumbnail .snippet {
    @media (max-width: 1080px) {
        font-size: small;
    }
    @media (min-width: 1081px) {
        font-size: medium;
    }
}

.post {
    height: 90%;
    @media (max-width: 1080px) {
        width: 100%;
    }
    @media (min-width: 1081px) {
        width: 90%;
    }
    max-width: 1150px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post .title {
    @media (max-width: 1080px) {
        font-size: xx-large;
        margin-left: 2%;
    }
    @media (min-width: 1081px) {
        font-size: xxx-large;
        margin-left: 5%;
    }
}

.post .publishDate {
    font-style: italic;
    @media (max-width: 1080px) {
        font-size: x-large;
        margin-left: 2%;
    }
    @media (min-width: 1081px) {
        font-size: xx-large;
        margin-left: 5%;
    }
}

.post .body {
    @media (max-width: 1080px) {
        margin: 0%;
    }
    @media (min-width: 1081px) {
        margin: 5%;
    }
    text-indent: 8%;
    @media (max-width: 1080px) {
        font-size: medium;
    }
    @media (min-width: 1081px) {
        font-size: x-large;
    }
}

.post .body h1, .post .body h2, .post .body h3 {
    text-indent: 0%;
}

.post figure {
    text-indent: 0%;
    text-align: center;
    font-size: large;
}

.post a {
    color: blue;
    text-decoration: underline;
}

.darkModeButton {
    background-color: gray;
    
}

.lightModeButton {
    background-color: azure;
}