@font-face {
    font-family: "iA Writer Mono V Regular";
    src: url("font/iAWriterMonoV.ttf");
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 0% 200%;
}

@font-face {
    font-family: "iA Writer Mono V Italic";
    src: url("font/iAWriterMonoV-Italic.ttf");
    font-style: italic;
    font-weight: 100 1000;
    font-stretch: 0% 200%;
}

:root {
    --white: rgb(216, 216, 216);
    --green: rgb(4, 255, 0);
}

body {
    font-family: "iA Writer Mono V Regular";
    font-weight: normal;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 1%;
    margin-right: 1%;
}

body.darkMode {
    background-color: rgb(24, 24, 24);
}

::selection {
    background-color: blue;
    color: white;
}

.darkMode ::selection {
    background-color: var(--green);
    color: black;
}

a {
    color: blue;
    text-decoration: underline;
    transition: background-color 0.2s;
    transition: font-weight 500 0.2s;
}

a:hover {
    color: white;
    background-color: blue;
}

.darkMode a {
    color: var(--green);
}

.darkMode a:hover {
    color: black;
    background-color: var(--green);
}

nav {
    background-color: rgb(231, 231, 231);
    justify-content: center;
    display: flex;
    flex-direction: row;
    @media (max-width: 513px) {
        font-size: 1.15em;
    } 
    @media (min-width: 514px) {
        font-size: 1.45em;
    }
    @media (min-width: 515px) {
        font-size: 1.65em;
    }
    @media (min-width: 516px) {
        font-size: 1.75em;
    }
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    @media (max-width: 1280px) {
        width: 100%;
    }
    @media (min-width: 1281px) {
        width: 90%;
    }
    max-width: 1150px;
}

.darkMode nav {
    color: var(--white);
    background-color: rgb(57, 57, 57);
}

nav .homeText {
    @media (max-width: 513px) {
        margin-right: 0%;
    }
    @media (min-width: 514px) {
        margin-right: auto;
    }
    @media (min-width: 1154px) {
        margin-right: 45%;
    }
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    @media (max-width: 1080px) {
        margin-left: 2%;
        margin-right: 2%;
    }
    @media (min-width: 1081px) {
        margin-left: 3%;
        margin-right: 3%;
    }
    border-radius: 8px;
    transition: font-weight 0.2s;
}

nav a:hover {
    font-weight: bolder;
    color: blue;
    background-color: rgb(231, 231, 231);
}

.darkMode nav a {
    color: var(--white);
}

.darkMode nav a:hover {
    color: var(--green);
    background-color: inherit;
}

.postList {
    display: flex;
    flex-direction: column;
    /* Center it based on page width */
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    max-width: 1150px;
    padding: 2%;
}

.postList .row {
    display: flex;
    flex-direction: row;
}

.row .thumbnail {
    @media (max-width: 1080px) {
        width: 70%;
    }
    @media (min-width: 1081px) {
        min-width: 22%;
        max-width: 36%;
    }
    padding: 2%;
}

/* Center the body in thumbnails */
.row .thumbnail a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.darkMode .row .thumbnail a {
    color: var(--white);
}

/* Used to retain alignment
on rows without three posts */
.thumbnail .blank {
    background-color: white;
    color: white;
    height: 100%;
    width: 100%;
    /* This helps keep lone thumbnails
    from getting too wide in a row */
    @media (min-width: 1081px) {
        margin-left: 444px;
        overflow-x: hidden;
    }
}

.darkMode .thumbnail .blank {
    background-color: rgb(24, 24, 24);
    color: rgb(24, 24, 24);
}

.thumbnail .body {
    background-color: rgba(221, 224, 224, 0.785);
    transition: background-color 0.2s;
    transition: font-weight 0.2s;
    border-radius: 8px;
    text-align: left;
    @media (max-width: 1080px) {
        font-size: medium;
        padding: 10%;
    }
    @media (min-width: 1081px) {
        font-size: x-large;
        padding: 4%;
    }
}

.thumbnail .body:hover {
    color: blue;
    font-weight: bolder;
    background-color: rgb(199, 199, 199);
}

.darkMode .thumbnail .body {
    background-color: rgba(57, 57, 57, 0.785);
}

.darkMode .thumbnail .body:hover {
    color: var(--green);
    background-color: rgb(57, 57, 57);
}

.thumbnail .body:focus,
.thumbnail .body:active {
    transition: none;
}

.thumbnail .publishDate {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: 1080px) {
        font-size: medium;
    }
    @media (min-width: 1081px) {
        font-size: large;
    }
}

.thumbnail .snippet {
    @media (max-width: 1080px) {
        font-size: small;
    }
    @media (min-width: 1081px) {
        font-size: 0.6em;
    }
}

.post {
    height: 90%;
    @media (max-width: 1080px) {
        width: 100%;
    }
    @media (min-width: 1081px) {
        width: 90%;
    }
    max-width: 1150px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.darkMode .post {
    color: var(--white);
}

.post .title {
    font-weight: bold;
    @media (max-width: 1080px) {
        font-size: xx-large;
        margin-left: 2%;
    }
    @media (min-width: 1081px) {
        font-size: xxx-large;
        margin-left: 5%;
    }
}

.post .publishDate {
    font-weight: bold;
    font-style: italic;
    @media (max-width: 1080px) {
        font-size: x-large;
        margin-left: 2%;
    }
    @media (min-width: 1081px) {
        font-size: x-large;
        margin-left: 5%;
    }
}

.post .body {
    font-weight: normal;
    @media (max-width: 1080px) {
        margin: 0%;
    }
    @media (min-width: 1081px) {
        margin: 5%;
    }
    @media (max-width: 1080px) {
        font-size: medium;
    }
    @media (min-width: 1081px) {
        font-size: 135%;
    }
}

.post .body h1, .post .body h2, .post .body h3 {
    text-indent: 0%;
}

.post figure {
    text-indent: 0%;
    text-align: center;
    font-size: medium;
}

.about {
    font-size: large;
    text-align: center;
}

.darkModeButton {
    background-color: gray;
}

.lightModeButton {
    background-color: azure;
}